services:
  db:
    image: postgis/postgis:15-3.4-alpine
    platform: linux/amd64
    volumes:
      - ./app/data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${UMAP_DB_NAME}
      - POSTGRES_USER=${UMAP_DB_USER}
      - POSTGRES_PASSWORD=${UMAP_DB_PASSWORD}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${UMAP_DB_USER} -d ${UMAP_DB_NAME}"]
      interval: 3s
      retries: 3
    networks:
      - umap-network


  app:
    image: umap/umap:3.4.0
    environment:
      - DATABASE_URL=postgis://${UMAP_DB_USER}:${UMAP_DB_PASSWORD}@${UMAP_DB_HOST}/${UMAP_DB_NAME}
      - SECRET_KEY=${SECRET_KEY}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DEBUG=${DEBUG}
      - UMAP_DB_NAME=${UMAP_DB_NAME}
      - UMAP_DB_USER=${UMAP_DB_USER}
      - UMAP_DB_PASSWORD=${UMAP_DB_PASSWORD}
      - UMAP_DB_HOST=${UMAP_DB_HOST}
      - UMAP_DB_PORT=${UMAP_DB_PORT}
      - CSRF_TRUSTED_ORIGINS=${CSRF_TRUSTED_ORIGINS}
      - SITE_URL=${SITE_URL}
      - STATIC_ROOT=/srv/umap/static
      - MEDIA_ROOT=/srv/umap/uploads
      - UMAP_SETTINGS=/srv/umap/setings.py
      - UMAP_CUSTOM_TEMPLATES=/srv/umap/custom/templates
      - UMAP_CUSTOM_STATICS=/srv/umap/custom/static 
    volumes:
      - ./app/data/umap/uploads:/srv/umap/uploads
      - ./app/data/umap/static:/srv/umap/static
      - ./app/settings.py:/srv/umap/setings.py
      - ./app/manage.py:/srv/umap/manage.py
      - ./app/custom/templates:/srv/umap/custom/templates
      - ./app/custom/static:/srv/umap/custom/static
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - umap-network

networks:
  umap-network:
    driver: bridge
