{% load i18n static %}
<!-- comapper add about img-->
<div class="big-picture">
  <div class="wrapper">
    <div class="row">
      <div class="col half mwide">
        <h1>Cartografía Unificada de Tu Municipio</h1>
        <p>
          <strong> Crea, colabora y comunica.</strong> Con uMap convierte tus datos en mapas de acción para una
          gestión transparente y eficaz.
        </p>
        <p>
          Solo el 2% de los gobiernos locales en América Latina usan cartografía para
          sus decisiones. En Co.Mapper trabajamos con datos abiertos, cartografía
          colaborativa y tecnología para cerrar esta brecha y fortalecer la
          transparencia ciudadana
        </p>
      </div>
    </div>
  </div>
</div>
