{% load i18n %}

<nav class="umap-nav row"><!--add row-->
  <section>
    {% include "umap/branding.html" %}
  </section>
  <section>
    <ul>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'user_dashboard' %}">{% trans "My Dashboard" %} ({{ user }})</a>
      </li>
      <li>
        <a href="{{ user.get_stars_url }}">{% trans "Starred maps" %}</a><!--comapper delete sign in-->
      </li>
      {% else %}
      <li>
        <a href="{% url "login" %}">{% trans "Log in" %} </a><!--comapper delete login class-->
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li>
        <a href="{% url "logout" %}" class="logout">{% trans "Log out" %}</a>
      </li>
      {% endif %}
      {% if not UMAP_READONLY %}
      <li>
        <!--<a href="{% url "map_new" %}" class="button button-primary">{% trans "Create a map" %}</a>-->
      </li>
      {% endif %}
    </ul>
  </section>
</nav>